* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.app {
  min-height: 100vh;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

input + label {
  cursor: pointer;
}

button {
  cursor: pointer;
}
