::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  overflow-x: auto;
}

.table {
  text-align: left;
  border-collapse: collapse;
  max-width: 700px;
  overflow-x: auto;
}

table th,
td {
  padding: 10px;
  border: 1px solid black;
}

.table thead {
  background-color: #2479f8;
  color: #fff;
  text-align: center;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #eeeeee;
}

.table button {
  font-size: 18px;
  border: none;
  background: transparent;
  color: #2479f8;
}

.table button:hover {
  cursor: pointer;
}
