table {
  text-align: left;
  border-collapse: collapse;
  max-width: 700px;
}

table th,
td {
  padding: 5px;
  border: 1px solid black;
}

table button {
  font-size: 18px;
  border: none;
  background: transparent;
  color: #2479f8;
}

table button:hover {
  cursor: pointer;
}
