.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
  padding: 20px;
  background-color: rgb(226, 226, 226);
}

.container .header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container .header a {
  color: #2479f8;
  text-decoration: none;
}
